<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= pageTitle %></title>
</head>
<body>
    <form action="/new" method="POST">

        <label for="user">User:</label>
        <input type="text" name="user" id="user">
        <label for="messageText">Message:</label>
        <input type="text" name="messageText" id="messageText">

        <button type="submit">Add New Message</button>
    </form>
</body>
</html>